<!doctype html>
<html lang="en">
  <head>
    {{ partial "head.html" . }}
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{ .Title }}</title>
    {{ partial "style.html" . }}
  </head>
  <body class="flex flex-col items-center-safe font-sans">
    <div class="container max-w-5xl">
      {{ partial "header.html" . }}
      <main>{{ block "main" . }}{{ end }}</main>
      {{ partial "footer.html" . }} {{ partial "scripts.html" . }}
    </div>
  </body>
</html>
